.menu-imagen {
    position: fixed;
    z-index: 999;
    right: 10px;
    top: 650px;
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.menu-imagen img{
    width: 100%;
    max-width: 80px;
    height: auto;
    transition: transform 0.3s ease-out;
}

.menu-imagen img:hover{
    transform: scale(1.1);
}
