/* Poppins - Light */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Poppins - Regular */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Poppins - Medium */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Poppins - Semi Bold */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Poppins - Bold */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root{
    --color-gray50: #f9fafb;    
    --color-gray100: #f3f4f6;
    --color-gray200: #e5e7eb;
    --color-gray300: #d1d5db;
    --color-gray400: #9ca3af;
    --color-gray500: #6b7280;
    --color-gray600: #4b5563;
    --color-gray700: #374151;
    --color-gray800: #1f2937;
    --color-gray900: #111827;
    --color-gray950: #030712;

    --color-emerald300: #6ee7b7;
    --color-emerald400: #4ade80;
    --color-emerald500: #10b981;
    --color-emerald600: #059669;
    --color-emerald700: #047857;
    --color-emerald800: #166534;

    --color-sky100: #e0f2fe;
    --color-sky200: #bae6fd;
    --color-sky400: #38bdf8;
    --color-sky500: #0ea5e9;
    --color-sky600: #0284c7;
    --color-sky700: #0369a1;
    --color-sky800: #075985;
}

/* Estilos del botón de accesibilidad */
.accesibilidad {
    position: fixed;
    z-index: 999;
    right: 3%;
    top: 85%;
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.accesibilidad__boton{
    width: 100%;
    max-width: 80px;
    height: auto;
    transition: transform 0.3s ease-out;
}

.accesibilidad__boton:hover{
    transform: scale(1.1);
}


/* Estilos del panel de accesibilidad */
.menu-accesibilidad {
    z-index: 99999;
    border-radius: 15px 0 0 15px;
    position: fixed;
    right: 0px;
    top: 10px;
    width: 70%;
    height: 600px;
    display: none;
    background-color: var(--color-gray200);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', system-ui, -apple-system, sans-serif;
}

.menu-accesibilidad--visible {
    display: block;
}

.menu-accesibilidad *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accesibilidad__header{
    background: linear-gradient(90deg, var(--color-emerald500), var(--color-emerald800));
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.accesibilidad__title {
    font-size: 1em;
    text-align: center;
    color: var(--color-gray50);
}

.accesibilidad_cerrar_icono{
    position: absolute;
    right: 2%;
    cursor: pointer;
}

.accesibilidad__opcion {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0073aa;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.accesibilidad__opcion:hover {
    background-color: #005177;
}



.accesibilidad__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: var(--color-gray50);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.footer-container__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--color-gray600);
}

.footer__text--title{
    font-size: 18px;
    font-weight: 600;
}

.footer__text--author{
    font-size: 10;
}